*{
    margin: 0;
    padding: 0;
}
.home{
    
    display: block;
    border: none;
    text-decoration: none;
    

}
.dropdown-menu{
    width: 300px;
   
    background-color: black;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
   color: orange;
    transition: 1s;
}
.dropdown:hover{
    background-color: orange;
   transition: 1s;
}
.nav-link{
    text-decoration: none;
    color: white;
}
h1{
    color: black;
    font-weight: bold;
    text-align: end;
    font-size: 30px;
}
h2{
    color: black;
    font-weight: bold;
    text-align: start;
    font-size: 30px;
}
p{
    color: black;

}
.text{
    color: orange;
}
.gg{
    text-align: center;
}
.cd-item{
 text-align: center;
 float: left;
}
.b5{
    padding-top:30px;
    text-align: left;
    float: left;
    padding-left: 70px;
}

.bbb{
    padding-left: 120px;
}
.bb{
    padding-top:15px;
}
.t{
    text-align: justify;
    color: antiquewhite;
    padding-left: 50px;
}
.social{
    text-align: center;
}

